@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Se aplica un fondo de gradiente morado oscuro */
    background-color: #0d061f;
    background-image: linear-gradient(180deg, #1a0c2e 0%, #0d061f 100%);
    @apply text-gray-200 antialiased;
  }
  h1, h2, h3 {
    @apply font-serif;
  }
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

@layer components {
  .glass-header {
    /* Cristal con un tinte morado sutil */
    @apply bg-purple-900/10 backdrop-blur-lg;
  }
  .glass-card {
    /* Cristal más pronunciado para las tarjetas */
    @apply bg-purple-950/20 backdrop-blur-md border border-white/10;
  }
  .glass-footer {
    /* Un cristal más oscuro y sólido para el pie de página */
    @apply bg-purple-950/50 backdrop-blur-lg;
  }
}