@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Fondo noche profundo */
    background-color: theme('colors.brand-purple.night');
    background-image: linear-gradient(180deg, theme('colors.brand-purple.deep') 0%, theme('colors.brand-purple.night') 100%);
    @apply text-gray-300 antialiased;
  }

  /* Estilo base para los textos dorados */
  h1, h2, h3, .text-gold {
    @apply font-serif text-brand-gold;
  }
  
  /* Efecto de brillo en enlaces y elementos interactivos dorados */
  a.text-gold, button.text-gold {
    @apply transition-all duration-300;
  }
  a.text-gold:hover, button.text-gold:hover {
    @apply text-brand-gold-light drop-shadow-gold-glow;
  }
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

/* Clases para los objetos transparentes (Glassmorphism) */
@layer components {
  .glass-header {
    @apply bg-brand-purple-dark/10 backdrop-blur-lg;
  }
  .glass-card {
    @apply bg-brand-purple-deep/20 backdrop-blur-md border border-white/10;
  }
  .glass-footer {
    /* Un cristal más oscuro y sólido para el pie de página */
    @apply bg-brand-purple-deep/50 backdrop-blur-lg;
  }
}